.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.globalContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.questionContainer {
  height: 50vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionContainer {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
}