@import "../../styles/variables.scss";

.header {
  height: 60px;
  background-color: $secondary-color;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 100%;
    h1 {
      margin-left: 16px;
    }

    .btnMenu {
      margin-right: 16px;
      width: 32px;
      height: 24px;
      font-weight: bold;
      display: none;
      cursor: pointer;
      .stripe {
        background-color: white;
        width: 100%;
        flex: 1 1 auto;
        border-radius: 4px;
      }
    }

    .menuList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      height: 100%;
      padding: 0 32px;

      a {
        &.active {
          text-decoration: underline;
          text-underline-offset: 6px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    h1 {
      font-size: 32px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    h1 {
      font-size: 24px;
    }
    .nav {
      .btnMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
      }

      .menuList {
        z-index: 20;
        position: absolute;
        top: 60px;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        min-width: 25vw;
        height: calc(100vh - 50px - 60px);
        padding: 16px 16px 32px;
        background-color: white;
        color: black;
        transition: left 300ms ease-in;
        &.isVisible {
          left: 0;
          transition: left 300ms ease-out;
        }

        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    h1 {
      font-size: 24px;
    }
  }
}

@media (max-width: 320px) {
  .header {
    h1 {
      font-size: 16px;
    }
  }
}
