@import "../../styles/variables.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.header {
  height: 60px;
  background-color: $secondary-color;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 100%;
    h1 {
      margin-left: 16px;
    }

    .btnMenu {
      margin-right: 16px;
      font-size: 40px;
      font-weight: bold;
      display: none;
      cursor: pointer;
    }

    .menuList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      height: 100%;
      padding: 0 32px;

      a {
        &.active {
          text-decoration: underline;
          text-underline-offset: 6px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    h1 {
      font-size: 32px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    h1 {
      font-size: 24px;
    }
    .nav {
      .btnMenu {
        display: block;
      }

      .menuList {
        position: absolute;
        top: 60px;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        min-width: 25vw;
        padding: 16px 16px 32px;
        background-color: black;
        transition: left 300ms ease-in;
        &.isVisible {
          left: 0;
          transition: left 300ms ease-out;
        }

        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    h1 {
      font-size: 24px;
    }
  }
}

@media (max-width: 320px) {
  .header {
    h1 {
      font-size: 16px;
    }
  }
}
